*{
  font-family: "Open Sans", "sans-serif";
}

#cabecera{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.8rem;
  background-color: #2c2c2c;
}

/* Icono ajustes solo en movil */
.rueda-ajustes, .icono-notas{
  font-size: 2rem;
  display: none;
}


/* Icono Cedrion */
.brand-icon{
  display: inline-flex;
  width: 10rem;
  height: auto;
  margin-left: 2.3%;

}

/* Menú */
.nav-link{
  font-size: 1.2rem;
}


.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link{
  color:#E5E5E5;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
 color: #BB86FC ;
}

.navbar-nav{
  flex-direction: row;
  justify-content: space-between;
}

/* Dropdown Menu NOTAS */
.dropdown-menu{
  background-color: #2c2c2c;
  min-width: 7rem;
  padding: 0;
  border: none;
  border-top: none;
  
}


.dropdown-item{
  color:#E5E5E5;
  font-size: 1.2rem;
}

.dropdown-item:hover{
  color: #BB86FC;
  background-color: #2c2c2c;
}

/* MODAL */
.modal-content{
  color: #121212;
}
.modal-footer {
  display: flex;
  justify-content: center;
}
/* .boton-modal {
  background-color: transparent;
  border-color: transparent;
  font-size: 1.2rem;
}
boton-modal:focus {
  color: #BB86FC;
  background-color: transparent;
  border-color: transparent;
} */








/* ---------Media Queries(Smartphone)---------- */



/* Quitamos Menu Burguer y ponemos Iconos sueltos */
@media only screen and (max-width:575px){

  #cabecera{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .brand-icon{
    margin: 0;
  }

  .rueda-ajustes, .icono-notas{
      display: unset;
      
  }
  .navbar{
    display: none;
  }

  .icono-notas{
    margin-bottom: 2%;
  }
  
}

/* ----Iphone 4/5 */
@media only screen and (max-width:346px){
  .brand-icon{
    width:70%;
    height: auto;
  }
}