p{
  font-family: 'Monda', sans-serif;
}

#cabecera{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.1rem;
  background-color: #2c2c2c;
  
}

/* Icono ajustes solo en movil */
.rueda-ajustes, .icono-notas{
  font-size: 2rem;
  display: none;
}


/* Icono Cedrion */
.brand-icon{
  display: inline-flex;
  width: 8.5rem;
  height: auto;
  margin-left: 25%;

}

/* Menú */
.nav-link{
  font-family: 'Monda', sans-serif;
  font-size: 1.2rem;
}


.navbar-nav{
  flex-direction: row;
  justify-content: space-between;
}

.navbar-light .navbar-nav .nav-link:hover, .dropdown-item a:hover, .nav-link a:hover{
  color: #BB86FC;
  text-decoration: none;
  border-radius: 0.4rem;
  background-color:#31333e;
  
}


.nav-link a, .dropdown-item a, .navbar-light .navbar-nav .nav-link {
  color: #E5E5E5;
  text-decoration: none;
  outline: none;
  font-family: 'Monda', sans-serif;
  font-size: 1.2rem;
  
}


.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
  color: #BB86FC;
}

.nav-link button:hover{
  color: #BB86FC;
}

.nav-link .btn-primary{
  background-color: transparent;
  color: #E5E5E5;
  font-size: 1.2rem;
  border: none;
  line-height: 28,8px;
  margin-top: -8%;

}

.nav-link .btn-primary:focus{
  box-shadow: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(https://s6.gifyu.com/images/burger-menu-transparente.png);
  background-size: 7.25rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: #BB86FC;
}

/* Dropdown Menu NOTAS */
.dropdown-menu{
  background-color: #2c2c2c;
  min-width: 7rem;
  padding: 0;
  border: none;
  border-top: none;
}


.dropdown-item{
  color:#E5E5E5;
  font-size: 1.2rem;
  font-family: "Monda", "sans-serif";
}

.dropdown-item:hover{
  color: #BB86FC;
  background-color: #2c2c2c;
}

/* MODAL */
.modal-title {
  font-family: 'Monda', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #E5E5E5;
}
.subtitulo {
  color: rgb(186, 186, 186);
}
  
.modal-content{
  color: #E5E5E5;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #121212;
  box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 24px 38px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
}
.modal-footer {
  display: flex;
  justify-content: center;
}
.secondary {
  background-color: #383838;
  color: #E5E5E5;
}
button.close {
  color: rgb(255, 255, 255);
}




/* ---DANDO ESTILO A LOS ICONOS DE SMARTPHONE--- */

.icono-notas a, .rueda-ajustes a{
  color: #BB86FC;
  outline:none;
  
}

.icono-notas a:active, .rueda-ajustes a:active, .icono-notas a:focus, .rueda-ajustes a:focus{
  color: #E5E5E5;
  outline:none;
}




/* ---------Media Queries(Smartphone)---------- */



/* Quitamos Menu Burguer y ponemos Iconos sueltos */
@media only screen and (max-width:575px){

  #cabecera{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .brand-icon{
    margin: 0;
  }

  .rueda-ajustes, .icono-notas{
      display: unset;
      
  }
  .navbar{
    display: none;
  }

  .icono-notas{
    margin-bottom: 2%;
  }
  
}
