.outerbox {
    color: #E5E5E5;
    background-color: #3D3D3D;
    bottom:30px;
    height: 900px;
    

.chartjs-render-monitor {
    animation: chartjs-render-animation 0.001s;
    margin: 2rem;
    max-width:90%;
    border-radius: 15px;
    background: rgb(7, 7, 7);
    padding: 30px;
    box-shadow:  31px -31px 61px #252525, 
             -31px 31px 61px #333333;
    
}
.content-section-introduction {
    margin: 2rem;
    .feature-intro {
        margin: 2rem;
    }
    .title-section {
        font-family: 'Monda', sans-serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 37px;
    }
    .instructions {
        font-family: 'Nunito', sans-serif;
        font-size: 16.7px;
        font-weight: 100;
    }
    
}
.container-charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2.5rem;
    column-gap: 2.5rem;
    grid-row-gap: 1rem;
    row-gap: 1rem;
    .pair-charts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
        .date-time-charts {
            background: rgba(34, 37, 42, 0.51);
            height: 40px;
            border-radius: 18px;
            font-weight: 300;
            font-size: 20px;
            line-height: 33px;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: -0.015em;
            color: #BB86FC;

        } 
        .name-charts {
            background: rgba(34, 37, 42, 0.51);
            border-radius: 18px;
            font-weight: 300;
            font-size: 20px;
            line-height: 33px;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: -0.015em;
            color: #BB86FC;

        }
    }

}

// ipad
@media screen and (max-width:1024px){
    .container-charts {
        margin: 2rem;
        display: grid;
       
        grid-template-columns: 1fr;
            .pair-charts {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 1rem;
                .date-time-charts {
                    min-width: 70px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 28px;
                    height: 30px;
                } 
                .name-charts {
                    min-width: 70px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 28px;
                    height: 30px;
                }
            }
        }
}


// iphone 6, 7, 8 plus
@media screen and (max-width:736px){
    
    .container-charts {
        margin: 2rem;
        display: grid;
       
        grid-template-columns: 1fr;
            .pair-charts {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 1rem;
                .date-time-charts {
                    min-width: 70px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 28px;
                    height: 30px;
                } 
                .name-charts {
                    min-width: 70px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 28px;
                    height: 30px;
                }
            }
        }
        // iphone 5
@media screen and (max-width:568px){
    .container-charts {
        margin: 2rem;
        display: grid;
        grid-template-columns: 1fr;
            .pair-charts{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 1rem;
                .date-time-charts {
                    min-width: 100px;
                    height:30px;
                    font-weight: 350;
                    font-size: 11px;
                    line-height: 28px;
                    height: 28px;

                } 
                .name-charts {
                    min-width: 100px;
                    height:30px;
                    font-weight: 350;
                    font-size: 11px;
                    line-height: 28px;
                    height: 28px;
                }
            }
        }
    }
    
    }
    
}
