$primaryColor: #BB86FC;
$secondColor: #03DAC6;
$deep: #1E1E1F;
$dark: #2c2c2c;
$softDark:#383838;
$medium: #3D3D3D;
$light:#DEDEDE;
$errorColor: #FD695E;

.title {
    position: absolute;
    margin: 2rem 2rem;
    width: 600px;
    height: 45px;
    font-family: 'Monda', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: $light;

}
.data-container-charts {
    margin: 7rem 3rem 4rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; 
    column-gap: 2.5rem;
    row-gap: 1rem;
        .pair-charts {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 1rem;
            
            .date-time-charts {
                background: rgba(34, 37, 42, 0.51);
                height: 40px;
                border-radius: 18px;
                font-weight: 300;
                font-size: 20px;
                line-height: 33px;
                display: flex;
                align-items: center;
                justify-content: center;
                letter-spacing: -0.015em;
                color: $primaryColor;

            } 
            .name-charts {
                background: rgba(34, 37, 42, 0.51);
                border-radius: 18px;
                font-weight: 300;
                font-size: 20px;
                line-height: 33px;
                display: flex;
                justify-content: center;
                align-items: center;
                letter-spacing: -0.015em;
                color:$primaryColor;
            }   
        }        
}
// MEDIA QUERIES  

  // Ipad
  @media screen and (max-width:1024px) {

}

// iphone 6, 7, 8 plus
@media screen and (max-width:736px) {

     .data-container-charts {
        transform: rotate(90deg);
      }
         
}

 // iphone 6, 7, 8 plus
 @media screen and (max-width:736px) {
 }