$primaryColor: #BB86FC;
$secondColor: #03DAC6;
$deep: #1E1E1F;
$dark: #2c2c2c;
$softDark:#383838;
$medium: #3D3D3D;
$light:#DEDEDE;
$errorColor: #FD695E;


.content {
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 12rem;
    @media screen and (max-width:736px){
        height: 20rem;
    }@media screen and (max-width:1024px){
        height: 20rem;
    }

    .title {
        position: absolute;
        margin: 2rem 2rem;
        width: 207px;
        height: 45px;
        font-family: 'Monda', sans-serif;
        font-weight: 300;
        font-size: 30px;
        line-height: 37px;
        display: flex;
        align-items: center;
        letter-spacing: 0;
        color: $light;

    }
    .about-historicos{
        position: absolute;
        right: 30%;
        margin: 5rem  2rem .5rem 2rem;
        font-size: 16.7px;
        color: $light;
        font-family: 'Monda', sans-serif;
        font-weight: 100;
        height: min-content;
    }
    .subtitle {
        position: absolute;
        display: flex;
        color: #bdbdbd;
        margin:  11rem 2rem 0 2rem;
        height: 4rem;
        font-size: 20px;
        width:100%;
        //ipad 
        @media screen and (max-width: 1024px){
        margin: 16rem 2rem 0 2rem;
        font-size: 18px;
        
        }
    }
}
.submission {
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: baseline;
    margin: 1rem 0 2rem;
}
.ardu-form {
    height: 3rem;
    align-content: center;
    justify-content: center;

    @media screen and (max-width: 1024px){
    width: 90%;
    margin: 1rem 2rem;
    } 
}
    .ardu-form {

    width: 60%;
    margin: 1rem 2rem 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.15fr;
    grid-column-gap: 1rem;
    grid-template-rows: 1fr;
    //ipad
        @media screen and (max-width:1024px){
            width: 90%;
            margin: 1rem 2rem;
        }
    // iphone 6, 7, 8 plus
        @media screen and (max-width:736px){
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 1rem;
            grid-row-gap: 1rem;
        }
    // iphone 5
        @media screen and (max-width: 568px){
           
        }
    
    #in {
        font-size: 14px;
        color: $primaryColor;
        background: #2c2c2c;
        padding: 0.429em;
        border: 1px solid $primaryColor;
        transition: border-color 0.2s, box-shadow 0.2s;
        border-radius: 3px;
        &:focus {
            outline-color: $primaryColor;
            outline-width: 1px;
            box-shadow: none;
          } 
    }

    body .p-inputtext :filled {
        background: $dark;
    
    }

    .startButton {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: #2c2c2c;
        border: 2px solid #31343C;
        background: linear-gradient(145deg, #2F3033, #222629);
        box-shadow:  5px 5px 10px #1f1f1f, 
             -5px -5px 10px #393939;
             &:focus {
                outline:none !important;
                outline-width: 0 !important;
                box-shadow: none;
              }
              &:hover {
                background: rgba(127, 127, 127, 0.3);;
            }
            &:active {
                background: rgba(34, 37, 42, 0.7);
                border: 0.56px solid $primaryColor;
            }
            &:visited {
                color: #7F7F7F;
                background: rgba(34, 37, 42, 0.3);
            }
              
    }
    .svg-inline--fa {
        color: rgb(131, 131, 131);
        font-size: 1rem;
        margin: 0.5rem 0;
        
    }
    .icontext {
        width: 10rem;
        margin: 0.4rem -2rem 0 0;
    }
}


.main {
    height:10rem;
    //ipad
    @media screen and (max-width:1024px){
        margin-top: 20rem;
    
    }
// iphone 6, 7, 8 plus
    @media screen and (max-width:736px){
        margin: 16rem 0 1rem 6rem;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
// iphone 5
    @media screen and (max-width: 568px){
        margin: 18rem 0 1rem 6rem;
    }
}

.data-container {
    height: min-content;
    margin: 0 2rem 2rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; 
    column-gap: 2.5rem;
    row-gap: 1rem;
    a {
        text-decoration-color: $primaryColor ;
    }
    @media screen and (max-width: 736px) {
        margin: 6rem 2rem;
        display: grid;
        grid-template-columns: 1fr;
        }
        
        .pair {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 1rem;
            .date-time, .name {
                background: rgba(34, 37, 42, 0.51);
                height: 40px;
                border-radius: 18px;
                font-weight: 300;
                font-size: 20px;
                line-height: 33px;
                display: flex;
                align-items: center;
                justify-content: center;
                letter-spacing: -0.015em;
                color: #BB86FC;
                
                &:hover {
                    color: #84dfc4;
                    background: rgba(34, 37, 42, 0.7);
                }
                &:active {
                    color: #84dfe2;
                    background: rgba(34, 37, 42, 0.7);
                    border: 0.56px solid #84DFE2;
                }
                &:visited {
                    color: #7F7F7F;
                    background: rgba(34, 37, 42, 0.3);
                }   

            } 
        }   
}

  // MEDIA QUERIES 

  // Ipad
  @media screen and (max-width:1024px){
    
    // .content {
    //     display: flex;
    //     flex-direction: column;
    //     flex-wrap: wrap;
    //     width: 100%;
    //     margin: 0 auto;
    //     height: 15rem;

        .about-historicos p{
            display:flex;
            width: 550px;
            right: 49%;
            margin: 40rem 1rem 1rem 2rem;
            align-items: center;
            letter-spacing: -0.015em;
            color: $light;
        }
        
        //}
     //}
    
    .data-container {
        margin: 2rem 2rem;
    }

    .data-container .pair .date-time {
        background: rgba(34, 37, 42, 0.51);
        height: 35px;
        border-radius: 18px;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
    }
    .data-container .pair .name {
        background: rgba(34, 37, 42, 0.51);
        height: 35px;
        border-radius: 18px;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
    }
    .submission {
        margin: -2rem 1rem 1rem 0;
    }
    .ardu-form {
        width: 90%;
        margin: 1rem 2rem 2rem 2rem;
    }
    
}   
    // iphone 6, 7, 8 plus
    @media screen and (max-width:736px){
        .content .about-historicos {
            position: absolute;
            right: 1%;
            margin: 7rem 2rem;
            font-size: 14px;
        }
        
        .submission {
            margin-top: -7rem;
        }
        
        .data-container {
            margin: 12rem 2rem 1rem 2rem;
            display: grid;
            grid-template-columns: 1fr;
                .pair {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 1rem;
                    .date-time {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 28px;
                        height: 30px;
                    } 
                    .name {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 28px;
                        height: 30px;
                    }
                }
            }
            // iphone 5
            // iphone 6, 7, 8 plus
    @media screen and (max-width:736px){
        .content .about-historicos {
            position: absolute;
            right: 1%;
            margin: 5rem 2rem;
            font-size: 14px;
        }
        .submission .ardu-form {
            width: 90%;
            margin: 9rem 2rem 2rem 2rem;
        }
        }

        .subtitle {
            position: relative;
            color: $light;
            margin-top: 50rem;
            font-size: 20px;
    
        }
        
    }


    // loading spinner

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }