.primer-container{
  display:flex;
  flex-flow: row wrap;
  height: 10vh;
  justify-content: space-evenly;
  align-items: flex-end;
}

.primer-item{
  height: 50%;
  width: 25%;
  background: rgba(34, 37, 42, 0.51);
  height: 2.5rem;
  border-radius: 1.125rem;
  color: #BB86FC;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: -0.015em;
  display: flex;
  justify-content: center;
  align-items: center;

}

.segundo-container{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 35vh;
}

.segundo-item{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 20%;
  margin-right: 2%;
  margin-left: 2%;
}

.paracircle{
  
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 4%;
  border: 8px solid #31343C;
  background: linear-gradient(145deg, #2F3033, #222629);
  box-shadow:  5px 5px 10px #1f1f1f, 
             -5px -5px 10px #5b5b5b;
}

.paracircle p {
  color: #03DAC6;
  letter-spacing: -0.015em;
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top:7%;
}

.parameter{
  width: 50%;
  height: 20%;
}

.parameter p{
  color: #E5E5E5;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.tercer-container{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 35vh;
}

.tercer-item{
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 20%;
  margin-right: 2%;
  margin-left: 2%;
}

/* Media queries */

