@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
section {
  font-family: "Open Sans", "sans-serif";
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.intro {
  margin: 1em 1em 0 1em;
}
.form-parameters {
  width: 100vw;
  margin: 1em 1em 0 1em;
  background-color: #70429363;
  border-radius: 0.3em;
}
.form-label {
  margin: 0.4em 0.3em 0.4em 0.7em;
}
.form-control {
  margin: 0.4em 0.3em 0.4em 0.7em;
  width: 60%;
}
.text-muted {
  margin: 0.4em 1em 0.4em 1em;
  text-align: justify;
}
.input-button {
  display: flex;
}
.button {
  width: 2.2em;
  height: 2.2em;
  background-color: #663399;
  border: none;
  color: white;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  margin: 4px 2px;
  border-radius: 0.3em;
}
