/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.intro {
  margin: 1em 1em 0 1em;
}

.form-parameters {
  padding: 0.5em 0 0 0.5em;
  margin: 1em 1em 0 1em;
  background-color: #340f62;
  border-radius: 0.3em;
}

.btn {
  width: 2em;
  height: 2em;
  background-color: #663399;
  border: none;
  color: white;
  padding: 0 0.5em 0.5em 0.5em;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  margin: 0 0.5em 0;
  border-radius: 50%;
}
