/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.intro {
  margin: 1em 1em 0 1em;
}

.form-parameters {
  height: 75%;
  padding: 0.5em 0 0 0.5em;
  margin: 1em 1em 0 1em;
  background-color: #340f62;
  border-radius: 0.625em;
  & input {
    height: 2.75em;
    background: #f2ab4f;
    border: 0.0625em solid #7d7d7d;
    box-sizing: border-box;
    border-radius: 0.4375em;
    margin: 0 0.3em 0 0;
  }
  & select {
    height: 2.75em;
    background: #f2ab4f;
    border: 0.0625em solid #7d7d7d;
    box-sizing: border-box;
    border-radius: 0.4375em;
    margin: 0 0.3em 0 0;
  }
  & label {
    margin: 0;
  }
}

.button {
  width: 2em;
  height: 2em;
  background-color: #b096ea;
  border: none;
  margin: 0 0.1em 0;
  border-radius: 50%;
  padding: 0.2 0.5em 0.5em 0.5em;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  color: blue;

  /* box-shadow: 0px 0.25em 0.116em #000000; */
}
.button:hover {
  background-color: greenyellow;
  color: yellow;
}

@media (max-width: 767px) {
  .containerCSS {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 950px) {
  .containerCSS {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

@media (min-width: 951px) {
  .containerCSS {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}
