
.container-primero{
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.container-primero input {
  width: 20%;
  text-align: center;
  border: none;
  color: rgb(146, 146, 146);
  font-size: 1.3rem;
  font-weight: normal;
  padding: 0 2rem;
  line-height: 2rem;
  letter-spacing: -0.015em;
  background: #1E1E1F;
  box-shadow: inset -5px -5px 10px #242529, inset 5px 5px 10px #0A0A0A;
  border-radius: 1.875rem;
  margin-left: 1.6%;
}

.container-primero input:placeholder{
  
  color:#E5E5E5;
  text-align: center;
  height: 40px;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.015em;
  width: 245px;
  justify-content: space-evenly;
}

.item-primero {
  margin-top: 2rem;
  color: #BB86FC;
  background: rgba(34, 37, 42, 0.51);
  height: 40px;
  border-radius: 18px;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.015em;
  width: 250px;
}

.container-segundo{
  display: flex;
  justify-content: center;
  min-height: 60vh; 
  margin-top: 2rem;
  margin-bottom: 0;
}

.container-segundo textarea{
  resize: none;
  margin-left: 1.5%;
  margin-bottom: 0;
  height: 60vh; 
  width: 65%;
  border:none;
  background-color: #383838;
  color: rgb(216, 216, 216);
  font-size: 1.125rem;
  padding-left: 1rem;
  padding-top: 1rem;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #121212;
  box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 24px 38px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
}

.container-segundo textarea::placeholder{
  color: rgb(216, 216, 216);
  font-size: 1.2rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  text-align: left;
  min-height: 60vh; 
}

.item-segundo{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: left;
  height: 60vh;
  width: 20%;
  margin-left: 2.5%;
  background: #3D3D3D;
  border: 0.15em solid rgb(41, 41, 41);
  box-sizing: border-box;
  overflow: auto;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  border-radius: 0.25rem;
  
}

.nota{
  width: 100%;
  height: 20%;
  background: #2C2C2C;
  border-bottom: 0.001rem solid rgb(57, 56, 56);
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.nota p{
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: rgb(216, 216, 216);
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}

.nota:hover{
  background-color: rgb(92, 92, 92);
  opacity: 0.7;
}

.nota:active{
  background: #3d3d3d;
  box-shadow: inset 5px 5px 10px #181818, 
            inset -5px -5px 10px #626262;
}

.container-tercero{
  display: flex;
  justify-content: flex-end;
  height: 10.1vh;
  margin-top: 2.5%;
}

.container-tercero input{
  margin-top: 0;
  height: 44%;
  margin-right: 5.7%;
  border: none;
  display: inline-flex;
  width:22rem;
  cursor: pointer;

  background: #BB86FC;
  border-radius: 0.25rem;
}

.nota p{
  text-align: left;
  margin: 0.3rem;

}

.container-tercero input:active{
  background: #BB86FC;
  box-shadow: inset 5px 5px 10px #181818, 
              inset -5px -5px 10px #626262;
}
input.guardar-nota {
  align-content: center;
  justify-content: center;
  
}
input.guardar-nota:hover {
  
    color: #84dfc4;
    background: rgba(34, 37, 42, 0.7);
}
input.guardar-nota:active {
    color: #84dfe2;
    background: rgba(34, 37, 42, 0.7);
    border: 0.56px solid #84DFE2;
}


/* MEDIA QUERIES */
@media screen and (max-width:574px){

  .container-primero{
    flex-flow: column wrap;
    height: 30%;
    align-items: center;
  }

  .item-primero, .container-primero input{
    margin-top: 1.5%;
    width: 90%;
  }

  .container-tercero input{
  flex-grow: 1;
  margin-right: 4.7%;
  margin-top: 0;
  margin-left:4.7%;
  }

}

/* Media query iphon 5 y 6 */
/* @media screen and (max-height:736px){
  .container-primero{
    height: 18vh;
  }

  .item-primero, .container-primero input{
    height: 35%;
    margin-top: 0;
  }

  .container-segundo{
    min-height: 80vh; 
  }

} */

/* Media query iphone 4 */
@media screen and (max-height: 599px){

  .container-segundo{
    min-height: 50vh; 
  }
}

@media screen and (max-width: 387px){

  .nota p{
    font-size: 0.75rem;
  }
}


