.pie{
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10%;
  background-image: linear-gradient(#5922D5, #B096EA)

}

.pie p {
  margin-right: 5%;
  margin-top:1.3%;
  font-family: "Open Sans", "sans-serif";
  font-size: 1.2rem;
  color: white;
}

/* ------MEDIA QUERIES------ */

@media only screen and (max-width:600px){

  .pie{
    display:none;
  }  
}
